<!DOCTYPE html>
<html>
  <head>
    <title>レストラン探します</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <% if @results.present? %>
        <% @results.each do |d| %>
          <div>
            <h2><%= d[:name] %></h2>
            <p><%= d[:access] %></p>
    <% end %>
    </div>
    </div>
  </body>
</html>