<!DOCTYPE html>
<html>
  <head>
    <title>レストラン探します</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <main>
  <% if @result %>
    <div class="container">
      <%= image_tag @result[:logo] %>
      <span class="shop_name"><b><%= @result[:name] %></b></span>
      <span class="shop_access">＜アクセス＞<%= @result[:access] %></span>
      <span class="shop_genre">＜ジャンル＞<%= @result[:genre] %></span>
      <span class="shop_open">【営業時間】<%= @result[:open] %></span>
    </div>
    <% end %>
  </main>
</body>
</html>