<%= stylesheet_link_tag "result" %>

  <% if @result %>
    <div id="contents">
      <div id="shop-detail-content">
      <%= image_tag @result[:logo] %>
      <span id="shop_name"><b><%= @result[:name] %></b></span><br>
      <span id="shop_genre">＜ジャンル＞<%= @result[:genre] %></span><br>
      <span id="shop_catch">＜特徴＞<%= @result[:catch] %></span><br>
      <span id="shop_open">【営業時間】<%= @result[:open] %></span>
      </div>

      <div id="photo-access-content">
        <span id="shop_photo"><%= image_tag @result[:photo] %></span><br>
        <span id="shop_access">＜アクセス＞<%= @result[:access] %></span><br>
        ＜住所＞<span id="shop_address"><%= @result[:address] %></span>
      </div>
    </div>
  <% end %>