<!DOCTYPE html>
<html>
<%= javascript_include_tag 'packs/geolocation' %>
    <head>
        <title>レストラン探します</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>

    <body>
  <div class="container">
      <%= form_with url: home_index_path, method: "get", local: true do |f| %>
      <br>
      <%= f.hidden_field :latitudeValue, id: "latitudeValue", class: "geolocation_form" %><br>
      <%= f.hidden_field :longitudeValue, id: "longitudeValue", class: "geolocation_form" %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>