<!DOCTYPE html>
<html>
  <head>
    <title>レストラン探します</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "top", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body>
      <header>
        <nav>
          <%= image_tag 'MiniLogo.PNG', class: "logo" %>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>  
    </body>
</html>