<!DOCTYPE html>
<html>
  <head>
    <title>レストラン探します</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  
        <div id="left-side">

        </div>

    <body id="main">
      <header id="header">
        <nav>
          <%= link_to image_tag('MiniLogo.PNG', class: "logo"), '/' %>
        </nav>
      </header>

      <main id="main-contents">
        <%= yield %>
      </main>  
    </body>

      <div id="right-side">
       </div>
</html>